.idea
vendor/
var/**/
public/bundles/
public/uploads/
public/index.php
supervisord.log
supervisord.pid
node_modules/
.env.local

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
