{% extends 'base.html.twig' %}

{% block title %}
    Reset password
{% endblock %}

{% block body %}
    <h1>Reset Password</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if message %}
        <div class="error-messages">
            {{ message|raw }}
        </div>
    {% endif %}
{% endblock %}
